/*body {
    overflow-x: hidden;
  }*/
.mi{
  margin-left: auto;
  margin-right: auto;
  
}
h1{
  font-size: small;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 150px;
    background-color:#013a81;
    position: relative;
    height: 100vh;
    overflow: auto;
  }
  
  /* Sidebar links */
  
  .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
  
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: rgb(28, 70, 148);
    color: white;
  }

  @media screen and (max-width: 700px) {
    .sidebar {
      z-index: -1;
      width: 100%;
      height: auto;
      position: absolute;
      z-index: 1;
    }
    .sidebar a {
      float: left;
      margin-left: 10px;
      margin-right: 30px;
    }
    .div.content {
      margin-left: auto;
      height: 80px;
  
    }
    .back{
      right: 0;
      position: absolute;
    }
    .div.content {
      margin-left: auto;
      height: 80px;
  
    }
    
}
.back{
    position: absolute; 
    bottom: 0;
  }