@import "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css";
body{
    margin:0;
    padding:0;
    font-family: montserrat;
    background-size: cover;
}
.loginbox{
    padding:10px;
    width: 320px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:rgba(255, 255, 255, 0.65);
    border: 2px solid darkblue;
    border-radius: 1%;
    text-align: center;
}
.im{
    text-align: center;
    margin-top:30px;

}
.loginbox h1{
    color:darkblue;
    align-self: center;
    font-size:60px;
    border-bottom:2.5px solid darkblue;
    margin-bottom:30px;
}
.textbox{
color:darkblue;
align-items: center;
width: 100%;
overflow:hidden;
font-size:30px;
padding:8px 0;
margin:8px 0;
border-bottom: 1.5px solid darkblue;
border:1px solid darkblue;
border-radius: 30px;
}
.textbox input{
    border: none;
    outline: none;
    scrollbar-arrow-color:blue;
    background: transparent;
    color: rgb(5, 5, 107);
    font-size:15px;
    width:60%;
    margin:0 10px;
}
.textbox input:focus{
    width: 60%;
}
.btn{
    width: 72px;
    height: 72px;
    background-color: darkblue;
    border-radius: 50%;
    color:white;
    font-size:1rem;
    cursor:pointer;
    transition: all 0.4s ease-in-out;
    margin:15px;
    box-shadow: -8px 8px 0 white;
    transform: rotate3d(1,1,0,40deg);
    outline:none;
}
.btn:hover{
    background-color: white;
    transform: rotate(0deg);
    box-shadow: -7px 7px 0 darkblue;
}
.btn:active{
    background-color: rgb(255, 10, 10);
    transform: translate(-15px,15px);
    box-shadow: 1 10px #f523c0;
    transition-duration: 0.1s;
}
.container1 a{
    color:darkblue;
    margin-right:0px;
    font-size:13px;
    font-family:sans-serif;
    cursor:pointer;
}
.signup{
    width: 100px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:darkblue;
}
h3{
    color:darkblue;
    font-size: 18px;
}
